pipeline/LoadDWH.json
{
	"name": "LoadDWH",
	"properties": {
		"activities": [
			{
				"name": "Table List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from audit.ETL_config where active=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ETL_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoadEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Table List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Table List').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "SourceToStage",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ProcessDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "InsertDate",
											"value": {
												"value": "@variables('InsertDate')",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "SELECT @{item().column_list}\nFROM @{item().source_schema_name}.@{item().source_table_name}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "IF OBJECT_ID('@{item().target_schema_name}.@{item().target_table_name}') IS NOT NULL\nTRUNCATE TABLE @{item().target_schema_name}.@{item().target_table_name}\n",
										"type": "Expression"
									},
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataset",
									"type": "DatasetReference",
									"parameters": {
										"source_schema_name": {
											"value": "@item().source_schema_name",
											"type": "Expression"
										},
										"source_table_name": {
											"value": "@item().source_table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "TargetDataset",
									"type": "DatasetReference",
									"parameters": {
										"target_schema_name": {
											"value": "@item().target_schema_name",
											"type": "Expression"
										},
										"target_table_name": {
											"value": "@item().target_table_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ProcessDate",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "InsertDate",
								"value": {
									"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd hh:mm:ss')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Insert Row Count",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SourceToStage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "InsertRowCount",
								"value": {
									"value": "@{activity('SourceToStage').output.rowsCopied}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Extract Row Count",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SourceToStage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ExtractRowCount",
								"value": {
									"value": "@{activity('SourceToStage').output.rowsRead}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"InsertDate": {
				"type": "String"
			},
			"InsertRowCount": {
				"type": "String"
			},
			"ExtractRowCount": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-06-04T21:06:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}